{% extends 'base.html.twig' %}

{% block title %}Chatbot{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('chatbot') }}
    {% endblock %}
{% block body %}
    <div class="container">
        <div class="row title">
            <h1 class="MarianneBold">
                Trouvez votre dispositif avec <span class=".title-blue">Hibot</span>
            </h1>

        </div>
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="card">
                    <div class="card-body chat-care" id="interactionSectionWithHibot">
                        <ul class="chat" id="chatWithHibot">
                            <li class="agent clearfix position-relative" id="HibotAnswer">
                            <span class="chat-img left clearfix mx-2" id="imageHibot">
                              <img src="{{ asset('images/logo_hibot.png') }}" alt="logo" id="imageHibotLogo">
                            </span>
                                <div class="chat-body clearfix">
                                    <p>
                                        {{ firstInteraction.content }}
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <p class="col-12 text-right">
                                Posez votre question à <b class="MarianneBold">Hibot</b>
                            </p>
                        </div>
                        <div class="row col-12" id="AnswersToHibot">
                            {% for userInteraction in firstInteraction.userSays %}
                                <button
                                        data-id="{{ userInteraction.id }}"
                                        data-userinteraction="{{ userInteraction.content }}"
                                        class="btn btn-outline-primary answer-to-hibot ">
                                    {{ userInteraction.content }}
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('chatBot') }}
    {% endblock %}
{% endblock %}
