{% extends 'base.html.twig' %}

{% block title %}UserSay{% endblock %}

{% block body %}
    <h1>UserSay</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user_say.id }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ user_say.content }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('back_user_say_index') }}">back to list</a>

    <a href="{{ path('back_user_say_edit', {'id': user_say.id}) }}">edit</a>

    {{ include('user_say/_delete_form.html.twig') }}
{% endblock %}
