{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('home') }}
    {% endblock %}
{% block body %}
    <section class="container-fluid px-5">
        <div class="row banner position-relative">
            <div class="col-12">
                <img src="{{ asset('images/Composant1.jpg') }}" class="col-12" alt="">
            </div>
            <div class=" titleBlock col-5 offset-2">
                <h1 class="title-blue">{{ homeContent.mainTitle }}</h1>
                <a href="#" class="btn btn-primary">Je trouve mon dispositif</a>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2 class="font-weight-bold">{{ homeContent.actu }}</h2>
            </div>
        </div>
        <div class="row mb-5 justify-content-between text-white">
            <div class="col-8 blueBLock pb-4 d-flex flex-column align-items-stretch" style="background: linear-gradient(rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0.3)), url('/images/iStock-1164440614.jpg'); height: 400px;">
                <h3 class="text-right col-10 paddingtop1em">{{ homeContent.titleLeft }}</h3>
                <span class="text-white">{{ homeContent.actuLeft | raw }}</span>
            </div>
            <div class="col-3 blueBLock pb-4 d-flex flex-column align-items-stretch" style="background: linear-gradient(rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0.3)), url('/images/iStock-1254459991.jpg');">
                <h3 class="text-right col-10 paddingtop1em">{{ homeContent.titleRight }}</h3>
                <span class="text-white">{{ homeContent.actuRight | raw }}</span>
            </div>
        </div>

        <div class="row justify-content-center blueBLock mb-5">
            <div class="jumbotron blueBLock jumbotron-fluid col-12 text-center">
                <h2 class="display-4 text-white">{{ homeContent.blueBlockTitle }}</h2>
                {{ homeContent.picto|raw }}
                <p class="text-white">{{ homeContent.subTitleBlueBlock }}</p>
                <a href="" class="btn  bg-white title-blue">Je découvre les dispositif de formation</a>
            </div>
        </div>

        <div class="mb-5">
            <div class="row banner position-relative">
                <div class="col-12">
                    <img src="{{ asset('images/Composant2.jpg') }}" class="col-12" alt="">
                </div>
                <div class="titleBlock searchFormation col-5 offset-7">
                    <h3 class="col-10 title-blue">{{ homeContent.secondBlueTitle }}</h3>
                    <div class="col-10 paraFull">
                        {{ homeContent.subContent | raw }}
                        <a href="" class="btn btn-primary">Découvrir le catalogue de formation</a>
                    </div>

                </div>
            </div>
        </div>

        <div class="row blockFormateur">
            <div class="col-3 offset-1">
                <h3 class="title-grey">
                    {{ homeContent.thirdTitleBlock }}
                </h3>
                {{ homeContent.thirdTextBlock | raw }}
                <div class="row justify-content-center">
                    <a href="" class="btn btn-primary">
                        Je deviens formateur
                    </a>
                </div>

            </div>
            <div class="col-8">
                <img src="{{ asset('images/formateur.jpg') }}" class="w-100" alt="">
            </div>
        </div>


        <div class="row justify-content-center blueBLock">
            <div class="jumbotron blueBLock jumbotron-fluid col-12 text-center">
                <h2 class="display-4 text-white">{{ homeContent.lastBlueTitle }}</h2>
                {{ homeContent.lastPicto | raw }}
                <p></p>
                <a href="" class="btn  bg-white title-blue">Je consulte l'annuaire des formateur</a>
            </div>
        </div>
    </section>


{% endblock %}
