<nav class="navbar navbar-expand-md sticky-top">
    <!-- One of the primary actions on mobile is to call a business - This displays a phone button on mobile only -->
    <div class="navbar-toggler-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>


    <div class="collapse navbar-collapse flex-column " id="navbar">

        <ul class="navbar-nav  w-100 justify-content-around px-3 firstNavbar">
            <li class="nav-item">
                <a href="{{ path('front_default') }}">
                    <img src="{{ asset('images/logo.png') }}" alt="Logo ministère des armées" class="logo">
                    <img src="{{ asset('images/Logo_CivilsDeLaDefense.665d2b7f.svg') }}" alt="Logo civil de la défense" class="logo">
                </a>

            </li>
            <li class="nav-item">

            </li>
            <li class="nav-item dropdown">
                <a class="nav-link btn btn-primary text-white" href="http://example.com" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Connexion
                </a>
            </li>
        </ul>

        <ul class="navbar-nav justify-content-center w-100 px-3 shadow-sm">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('front_chatbot_index') }}">
                    Trouver mon dispositif
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{{ path('front_faq_index') }}">
                    Les différents dispositifs de formation
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    Le catalogue de formation
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{{ path('front_devenir_formateur_interne') }}">
                    Devenir formateur interne
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('front_annuaire') }}">
                    Annuaire
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="">
                    Les ressourses réglementaires
                </a>
            </li>
        </ul>


    </div>

</nav>
