{% extends 'base.html.twig' %}

{% block title %}Liste des contacts{% endblock %}

{% block body %}
    <style>

    </style>
    <h1 class="font-weight-bold mb-4">Liste des contacts</h1>

        <a class="btn btn-primary mb-4" href="{{ path('back_contact_new') }}">Ajouter un contact</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phone }}</td>
                <td><img src="{{ asset('images/' ~ contact.photoUrl) }}" style="width: 128px;" /></td>
                <td>
                    <a href="{{ path('back_contact_show', {'id': contact.id}) }}" class="btn btn-primary">Voir</a>
                    <a href="{{ path('back_contact_edit', {'id': contact.id}) }}" class="btn btn-secondary">Editer</a>
                    {{ include('back/contact/_delete_form.html.twig') }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune contact</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
